* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 50%;
  height: 21%;
  margin: auto;
  margin-top: 3%;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 2rem;
}

.score {
  background-color: white;
  width: 130px;
  height: 110px;
  float: right;
  margin-right: 2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-text {
  font-size: 1em;
  letter-spacing: 4px;
  color: hsl(229, 64%, 46%);
}

.score-number {
  font-size: 3.5em;
  margin-top: 1px;
  font-weight: 700;
  color: rgb(80, 80, 80);
}

.game-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 400px;
  margin-left: 400px;
  width: 100%;
  height: 100%;
  position: relative;
}

.game-body-primary {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.game-option {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.game-option-result {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 100px;
}

.game-option-result:nth-child(1) {
  margin-left: 300px;
  margin-right: 0;
}

.game-option-result:nth-child(3) {
  margin-right: 300px;
  margin-left: 0;
}

.mask {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 12%;
  top: 12%;
  box-shadow: inset 0 8px rgba(0, 0, 0, 0.205);
  display: flex;
  align-items: center;
  justify-content: center;
}

#paper {
  top: 11%;
  left: 34%;
  background-image: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  box-shadow: 0 8px rgb(26, 56, 204);
}

#paper>.mask,
#paper-result>.mask {
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
}

#paper-result {
  background-image: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  box-shadow: 0 8px rgb(26, 56, 204);
}

#scissors {
  top: 11%;
  left: 52%;
  background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0 8px rgb(150, 101, 5);
}

#scissors>.mask,
#scissors-result>.mask {
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
}

#scissors-result {
  background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0 8px rgb(150, 101, 5);
}

#rock {
  top: 51%;
  left: 43.5%;
  background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0 8px rgb(122, 16, 36);
}

#rock>.mask,
#rock-result>.mask {
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
}

#rock-result {
  background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0 8px rgb(122, 16, 36);
}

.game-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-result-text {
  width: 300px;
  font-size: 60px;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 4px;
}

#play-again {
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: red;
  font-size: 22px;
  letter-spacing: 3px;
  width: 240px;
  height: 55px;
}

.rules {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid hsl(218, 19%, 61%);
  width: 100px;
  height: 50px;
  border-radius: 8px;
  color: hsl(217, 17%, 64%);
  font-size: 1em;
  align-self: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.rules-container {
  display: none;
  position: absolute;
  width: 25em;
  height: 25em;
  background-color: white;
  top: 10em;
  border-radius: 0.5em;
}

.rules-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 40px 30px;
}

.rules-text {
  font-size: 22px;
}

.rules-instruction {
  width: 100%;
  display: flex;
  justify-content: center;
}